/* Tooltip container */
p .spelltip {
  position: relative;
  display: inline-block;
  color: #fa0;
/*  border-bottom: 2px dotted #0f0;  If you want dots under the hoverable text */
  text-decoration: underline;
  margin: 0em 0.2em;
}

/* Tooltip text */
.spelltip .spelltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -120px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  
  font-size: 16px;
  font-style: normal ;
}

/* Tooltip arrow */
.spelltip .spelltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.spelltip:hover .spelltiptext {
  visibility: visible;
  opacity: 1;
}

/* Don't show any spelling tips within code tags. */
code .spelltip:hover .spelltiptext {
  visibility: hidden;
}